
body{
	padding: 0px;
	margin: 0px;
	background-color: gray;
	font-family: Arial;
}

#content {
	position: relative;
	top: -10px;
}

/* 输入的样式*/
span {
	-webkit-user-select: none;
	cursor: pointer;
	font-size: 30px;
	line-height: 55px;
	vertical-align: middle;
	text-align: center;
	float: left;
	display: block;
	position: relative;
	bottom: -10px;
	width: 68px;
	height: 55px;	
	border-color: rgb(238,238,238);
	background-color: rgb(230,230,230);
	border-style: solid;
	border-width: 1px;
	margin: 0px;
	color: #343434;
	transition: all 0.2s ease;
}

/*鼠标悬挂在按钮的样式*/
span:hover {
	background-color: rgb(207,207,207);
}

/*鼠标点击按钮的变化*/
span:active {
	background-color: gray;
}

/*计算器的整体*/
#page-content {
	background-color: #9AD1EB;
	margin-left: auto;
	margin-right: auto;
	width: 280px;
	height: 436px;
	border-radius: 5px;
}

/*结果显示*/
#show-result {
	margin-top: 100px;
	height: 150px;
	width: 280px;
}

/*显示上一次输出结果*/
#former-result {
	line-height: 75px;	
	padding: 0px 15px;
	font-size: 26px;
	height: 75px;
	width: 250px;
	border-bottom-width: 0px;
	background-color: rgb(242,242,242);
	word-wrap: break-word;
	text-align: right;
}

/*显示当前输入以及输出结果*/
#result {
	padding: 0px 15px;
	text-align: right;
	font-size: 28px;
	background-color: rgb(242,242,242);
	height: 75px;
	width: 250px;
	word-wrap: break-word;
}



/*body {
	background-color: white;
	background-image: url(http://courses.cs.washington.edu/courses/cse190m/09sp/homework/1/silverware.jpg);
	background-attachment: fixed;
	color: rgb(64, 64, 64);
	font-size: 11pt;
	font-family: Georgia, Garamond, serif;
}
h1, h2 {
	color: rgb(164, 164, 0);
	background-color: rgb(240, 240, 240);
	font-family: "Century Gothic",  Futura, Verdana, sans-serif;
}
h1 {
	text-align: center;
	font-size: 22pt;
	font-weight: bold;
	text-decoration: underline;
}
h2 {
	text-align: left;
	font-size: 18pt;
	text-decoration: underline;
}
a {
	color: rgb(164, 164, 0);
}*/
